<ol>
  <li>
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </li>
  <li>
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </li>
  <li>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </li>
  <li>
    <%= form.label :password, form.object.new_record? ? nil : "Change password" %>
    <%= form.password_field :password %>
  </li>
  <li>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </li>
</ol>