%h1== Users of #{current_company}

%ul
  - @users.each do |u|
    %li
      = link_to(u,u)
      - if u == current_user
        (you!)

- form_for :inviation, :url => invitations_path do |f|
  = f.error_messages
  = f.label :email
  = f.text_field :email
  = f.submit