%h1 Register

- form_for @user, :url => users_path do |f|
  = f.error_messages
  %ol
    %li
      = f.label :email
      = f.text_field :email
    %li
      = f.label :password, f.object.new_record? ? nil : "Change password"
      = f.password_field :password
    %li
      = f.label :password_confirmation
      = f.password_field :password_confirmation
  = f.submit "Register"