%section#head-a
  = image_tag @user.avatar.url(:thumb)
  %h2= @user
  %p.user-role= @user.role
  %div.head-action= link_to "Edit your profile", edit_user_path(@user)
%h1 Projects
%section
- if !current_company.projects.empty?

  %div.form-b
    = form_for @user, :url => user_path(@user) do |f|
      %ol.checklist
        - current_company.projects.each_with_index do |p, i|
          %li
            = hidden_field_tag "user[participations_attributes][#{i}][project_id]", p.id
            = hidden_field_tag "user[participations_attributes][#{i}][_destroy]", 1
            = check_box_tag "user[participations_attributes][#{i}][_destroy]", 0, current_user.projects.include?(p), :id => "user_participations_attributes_#{i}__destroy_1"
            - if current_user.projects.include?(p)
              = hidden_field_tag "user[participations_attributes][#{i}][id]", current_user.participations.find_by_project_id(p.id).id
            = label_tag "user_participations_attributes_#{i}__destroy_1", p
      %p.form-submit
        %span.button= f.submit "Update"
- else
  %p Please create some projects for your company first !

%h1 Timeline
- if @user.time_slots.any?
  %ul#time-slots
    - @user.time_slots.each do |ts|
      %li
        = link_to image_tag("edit.png", :border => 0, :alt => "Edit", :title => "Edit"), edit_time_slot_url(ts)
        Start:
        %strong= (ts.start).strftime('on %d/%m/%Y at %H:%M')
        - if !ts.end.nil?
          End:
          %strong= (ts.end).strftime('on %d/%m/%Y at %H:%M')
        - if !ts.end.nil? && !ts.start.nil?
          Time spent:
          %strong= hours_from_seconds(ts.end - ts.start)
        Project:
        %strong= ts.project
- else
  %p Nothing in the timeline yet for this user.