#invite-user
  = form_for :invitation, :url => invitations_path do |f|
    %ol
      %li
        = f.label :invited_email_local, "Invite user"
        = f.text_field :invited_email_local
        %span
          == @#{Mail::Address.new(current_user.email).domain}
    %p
      = f.submit "Invite"