<div id="invite-user">
  <% form_for :invitation, :url => invitations_path do |f| %>
    <%= f.error_messages %>
    <ol>
      <li>
        <%= f.label :invited_email_local, "Invite user" %>
        <%= f.text_field :invited_email_local %>
        <span>@<%= Mail::Address.new(current_user.email).domain %></span>
      </li>
    </ol>
    <p><%= f.submit "Invite" %></p>
  <% end %>
</div>

<!--
<div id="invite-user">
  <form method="post" action="">
    <ol>
      <li>
        <label for="username">Invite user</label>
        <input type="text" name="username" id="new-user">
        <span>@belighted.com</span>
      </li>
    </ol>
    <p><input type="submit" value="Invite"></p>
  </form>
</div>
-->