%section#head-a
  %h2= @project.name
  %p.project-title= @project.description
  - if @participation_times.any?
    %ul.project-resume
      %li
        Total time:
        %span= formatted_duration(@project.total_time)
      %li
        This month:
        %span= formatted_duration(@project.total_time_this_month)
      %li
        This week:
        %span= formatted_duration(@project.total_time_this_week)
  - else
    %p.project-resume
      Nobody has worked on this project yet.
%h1 Workers on the project
%section
  - if @participation_times.any?
    %ul#project-members
      - @participation_times.each do |part|
        %li
          .member-infos
            =image_tag(part[:user].avatar.url(:thumb))
            %h3= part[:user]
            %p.user-role= part[:user].role
          %ul.member-time
            %li
              Total time:
              %span= formatted_duration(part[:total_time])
            %li
              This month:
              %span= formatted_duration(part[:total_time_this_month])
            %li
              This week:
              %span= formatted_duration(part[:total_time_this_week])
  - else
    %p There is nobody participating on this project.
%h1 Charts
%section
  #charts-a
    - if @participation_times.any?
      %ul
        - @participation_times.each do |part|
          %li
            %span.worker-name= part[:user]
            .worker-chart{:style=>"width:#{(600.0*(part[:total_time_this_period].to_f/@max_time)).round}px"}= hours_from_seconds(part[:total_time_this_period])
            hours
    - else
      %p There is nobody participating on this project.