!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "author", :content => "Belighted"}
    %title 88mph
    %link{:rel => "icon", :href => "/images/favicon.png"}
    = stylesheet_link_tag 'reset-min'
    = stylesheet_link_tag 'main'
    = javascript_include_tag 'jquery-1.4.1.min'
    = javascript_include_tag 'rails'
    = javascript_include_tag 'application'
    = javascript_include_tag 'checkbox'
    = javascript_include_tag 'raphael-min'
    = javascript_include_tag 'pie'
    = csrf_meta_tag
  %body
    %header
      %section#user-bar
        - if current_user
          %p
            Welcome to the future
            %em== #{link_to current_user, current_user}!
            - if current_user.current_time_slot
              %span.user-status
                You started working on
                %em= current_user.current_time_slot.project
                = relevant_time(current_user.current_time_slot.start)
            = link_to "logout", user_session_path, :method => :delete, :class => "logout-link"
        - else
          = render :partial => "_shared/login"
      - flash.each do |name, msg|
        %section#flash
          #flash-message
            %p== Message #{content_tag :span, msg, :class => "msg #{name}"}
      %h1
        %span>< 88
        mph
      %nav#main
        %ul
          - if current_user
            %li
              = link_to "What are you working on?", edit_timeline_url, :class => ("active-link" if controller.controller_name == 'timelines')
            %li
              = link_to "Dashboard", dashboard_url, :class => ("active-link" if controller.controller_name == 'dashboards')
            %li
              = link_to "Users", users_path, :class => ("active-link" if controller.controller_name == 'users')
            %li
              = link_to "Projects", projects_url, :class => ("active-link" if controller.controller_name == 'projects')
          - else
            %li
              = link_to "Register", new_user_path
    %section#wrap
      %section#content
        = yield
    %footer
      #author-link
        = link_to "88mph by Belighted", "http://www.belighted.com"